body{
    margin: 0;
    padding: 0;
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-size: 45px;
    font-weight: bold;
}
.main{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 20px 60px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    letter-spacing: 3px;
    opacity: 0.9;
}
.btn {
    font-family: cursive;
    padding: 15px 30px;
    background-color: blue;
    color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    letter-spacing: 1px;
}